.hello-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full height */
    background-color: #333333;
}

.home {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(51, 51, 51, 1)), 
                url('../../Assets/Cuenca-Background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 70vh;
}

.bottom {
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-color: red;
    min-height: 30vh;
    padding-top: 2rem;
    a {
        text-decoration: none;
        color:rgba($color: #ffffff, $alpha: 0.5);
        margin-top: 1rem;
    }
}
// @media (max-width: 768px) {
//         .intro {
//             span {
//                 font-size: '1.5em';
//                 font-weight: 500;
//             }
//         display: 'flex';
//         text-Align: 'center';
//     }
// }
// .intro {
//     span {
//         font-size: '2em';
//         font-weight: 500;
//     }
//     display: 'flex';
//     text-Align: 'center';
    
// }