.container {
    display: flex;
    align-items: center;
    padding: 50px;
    height:100vh;
}

.img-container {
    margin-right: 100px;

    .headshot {
        width: 30vw;
        aspect-ratio: 1/1;
        max-width: 700px;   
        height: auto;
        border-radius: 50%;
        object-fit: cover;
        object-position: left;
    }

}

.text-container {
    h1 {
        font-family: "Poppins", sans-serif;
        font-size: 1.5em;
        font-weight: 200;
    }
}

@media (max-width:768px){
    .container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 5%;
        text-align: center;
        justify-content:center;
    }
    .img-container {
            margin: 0 auto;
    }

    .text-container {
        font-size: 0.80em;
        margin-top: 10vh;
    }
    .headshot{
        width: 100vw;
        aspect-ratio: 1/1;
        height: auto;
        margin: 0 auto;
        object-position: center;
        }
}