$black: "#333333";
$white: "#ffffff";

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 8rem;
  .sectionTitle {
    font-size: 3rem;
    margin-top: 8rem;
    color: #ffffff;
  }
}
.container {
  display: flex;
  padding: 2rem;
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.img-container {
  margin-right: 100px;

  .headshot {
    width: 20vw;
    aspect-ratio: 1/1;
    max-width: 700px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    object-position: left;
    border: 5px white solid;
  }
}

.text-container {
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    font-weight: 700;
    font-size: 1.5rem;
}
  h1 {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    color: #ffffff;
  }
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    margin-top: unset;
    width: 100%;
  }
  .img-container {
    margin: 20px auto;
    max-width: 90%;
    display: flex;
    justify-content: center;
    .headshot {
      width: 60%;
      height: auto;
      border-radius: 50%;
      aspect-ratio: 1/1;
      margin: 0 auto;
      object-position: center;
    }
  }

  .text-container {
    font-size: 1rem;
    margin-top: 0vh;
    text-align: center;
    width: 100%;
    span{
        font-size: 1rem;
    }
    h1 {
      margin-top: 2rem;
      font-size: 1rem;
    }
  }
  .about .sectionTitle {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .about {
    margin-bottom: 2rem;
  }
}
