.contactContainer {
  display: flex;
  flex-direction: row;
  height: 60vh;
  align-items: center;
  justify-content: space-evenly;
  padding: 6rem;

  .contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h1 {
      font-size: 3rem;
      color: white;
    }
    padding-right: 2rem;
    border-right: 2px solid gray;
  }

  form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    input,
    textarea {
      all: unset;
      border: 2px #ffffff solid;
      width: 100%;
      border-radius: 0.5rem;
      padding: 0.5rem;
      color: #ffffff;
    }
    button {
      border: 2px #ffffff solid;
      height: 3rem;
      background-color: red;
      color: #ffffff;
      border-radius: 0.5rem;
    }

    .submit:hover {
      background-color: lightgray;
      cursor: pointer;
      color: #333333;
      border-color: #333333;
    }
  }
}

.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.email {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.icons {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  a {
    text-decoration: none;
    color: #ffffff;
  }
  a:hover {
    color: red;
    scale: 1.1;
  }
}

@media (max-width: 768px) {
  .contactContainer {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: unset;
    form {
      width: 100%;
      align-items: center;
      justify-content: center;
      input,
      textarea,
      button {
        width: 85%;
      }
    }
    .contact h1 {
      font-size: 2rem;
    }
    .contact {
      width: 85%;
      .icons {
        margin-top: unset;
        margin-bottom: 1.5rem;
      }
    }
  }
}
