    .no-scroll {
        overflow: hidden;
        height: 100vh;
    }

    .dflex {
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .header {
        @extend .dflex;
        position: fixed;
        justify-content: space-between;
        width: 100%;
        height: 58px;
        padding: 0 50px;
        background: transparent;
        top: 0;
        left: 0;
        z-index: 2;
        .logo {
            font-size: 32px;
            color:#fff;
            font-weight: 500;
        }
        .menu {
            width: 58px;
            background: transparent;
            height: 58px;
            @extend .dflex;
            cursor: pointer;
            color: white ;
            font-size: 3rem;
        }

    }

    .hidden {
        display: none;

    }

    .menu-container {
        @extend .dflex;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: black;
        color: #fff;    
        flex-direction: column;
        z-index: 10;
        p { 
            display: inline-flex;
            color: #fff;
            text-decoration: none;
            height: 80px;
            overflow: hidden;
            font-size: 2vw;
            text-transform: uppercase;
            margin-top: 10vw;

        }
        p:hover {
            color: #bdbdbd;
            cursor: pointer;
        }

        +p {
            margin-top: 0;

        }

        .btn-close {
            @extend .dflex;
            justify-content: center;
            width: 45px;
            height: 45px;
            border: 2px solid #bdbdbd;
            border-radius: 58px;
            top:20px;
            right: 20px;
            z-index: 15;
            position: absolute;
            cursor: pointer;
        }
        @media (max-width:768px) {
            p {
                font-size: 7vw;
            }

            .btn-close {
                top: 15px;
                right: 15px;
            }


        }

    }
Link {
    background-color: transparent;
}